.projectContainer{
    position: absolute;
    top: 10vh;
    height: 80vh;
    width: 100vw;
    left: 0vw;
    /* background-color: cyan; */
}
.blockContainer{
    position: absolute;
    top:15vh;
    display: flex;
    left:25vw;
    height: 55vh;
    width: 50vw;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    /* background-color: cyan; */
    /* background: linear-gradient(90deg, grey 0%, rgba(8,7,41,1) 37%, rgba(8,7,41,1) 70%, grey 99%); */
    background: #939185;
    box-shadow: 0px 0px 40px #2F3645;
    border: 10px solid #2F3645;
    animation: tada;
    animation-duration: 2s;
}
.Project1{
    position: absolute;
    top:5vh;
    /* opacity: 0.5; */
    /* left:25vw; */
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project2{
    position: absolute;
    top:5vh;
    left:17vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project3{
    position: absolute;
    top:5vh;
    left:34vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project4{
    position: absolute;
    top:5vh;
    left:51vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project5{
    position: absolute;
    top:5vh;
    left:68vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project6{
    position: absolute;
    top:5vh;
    left:85vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project7{
    position: absolute;
    top:5vh;
    left:102vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project8{
    position: absolute;
    top:5vh;
    left:119vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project9{
    position: absolute;
    top:5vh;
    left:136vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
.Project10{
    position: absolute;
    top:5vh;
    left:153vw;
    height: 40vh;
    width: 15vw;
    margin: 2px 20px auto 20px;
    /* background-color: #EEEDEB; */
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E6B9A6; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E6B9A6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: rgb(189, 189, 189);  */
    background: #EEEDEB; 
    border-radius: 10px;
    transform: scale(1.2);
  }

  .contentImg{
    /* background-color: green; */
    position: relative;
    top:-2.5vh;
    left:-1vw;
    height: 40vh;
    width: 15vw;
    box-shadow: 0px 0px 20px white;
    /* margin: 2px 20px auto 20px; */
  }
  .contentImg:hover{
    /* background-color: blue; */
    /* opacity: 0; */
    animation: flip;
    animation-duration: 1s;
    /* z-index: -1; */
    transition: all 1s;
  }
  .Project1 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project2 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project3 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project4 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project5 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project6 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project7 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project8 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project9 img{
    border-radius: 0px;
    height: 40vh;
    width: 15vw;
  }
  .Project10 img{
    border-radius: 0px;
    filter: blur(8px);
    height: 40vh;
    width: 15vw;
  }
  .LIVE{
    margin-left: 40px;
    font-size: 20px;
  }
  .GITHUB{
    margin-left: 60px;
    font-size: 20px;
  }
  .icons{
    animation: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .icons:hover{
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

@media screen and (max-width: 1203px){
  .blockContainer{
    /* opacity: 0; */
    position: absolute;
    top:15vh;
    display: flex;
    left:40vw;
    height: 55vh;
    width: 50vw;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 840px){
  .blockContainer{
    /* opacity: 0; */
    position: absolute;
    top:45vh;
    display: flex;
    left:10vw;
    height: 30vh;
    width: 80vw;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: scroll;
  }
  
}